<div class="side">
  <div class="side_header">
    <div class="user_name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="new_chat">
      <a href="#">チャットを作成する</a>
    </div>
  </div>

  <div class="side_content">
    <div>
      <a href="#">room1</a>
    </div>
    <div>
      <a href="#">room2</a>
    </div>
  </div>
</div>